{% extends 'base.html.twig' %}


{% block title %}Ajouter une nouvelle oeuvre d'art{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col w-75 mt-5">
            {{form(form_addArtwork)}}


        </div>
    </div>
</div>



{% endblock %}