{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel utilisateur{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col w-75 mt-5">
            {{form(form_user)}}


        </div>
    </div>
</div>



{% endblock %}