<div class="card my-2">
    {% for artwork in artworks %}
    <div class="m-5">
        <img src="{{ vich_uploader_asset(artwork, 'imageFile') }}" class="card-img-top " alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ artwork.title }}</h5>
            <p class="card-text">{{ artwork.price | number_format(2, '.', ' ') }} €</p>
        </div>
        <a href="{{ path('cart_add', {'id': artwork.id}) }}" class="btn btn-success float-right">
            <i class="fas fa-shopping-cart mr-1"></i>
            Ajouter
        </a>
    </div>
    {% endfor %}

</div>